<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav-drawer" mode="side">
    <p>Myschool</p>
    <a mat-button (click)="activateScreen(1)" class="sidenav-menu-option">
      <mat-icon>short_text</mat-icon>
      Subjects
    </a>
    <a mat-button (click)="activateScreen(2)" class="sidenav-menu-option">
      <mat-icon>meeting_room</mat-icon>
      Classrooms
    </a>
    <a mat-button (click)="activateScreen(3)" class="sidenav-menu-option">
      <mat-icon>group</mat-icon>
      Classes
    </a>
    <a mat-button (click)="activateScreen(4)" class="sidenav-menu-option">
      <mat-icon>school</mat-icon>
      Teachers
    </a>
  </mat-drawer>

  <div class="sidenav-content">
    <div id="menu-icon">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div *ngIf="render[0]" class="sidenav-content-inner">
      Welcome to Myschool App!
    </div>
    <div *ngIf="render[1]" class="sidenav-content-inner">
      <app-subject-list></app-subject-list>
    </div>
    <div *ngIf="render[2]" class="sidenav-content-inner">
      <app-classroom-list></app-classroom-list>
    </div>
    <div *ngIf="render[3]" class="sidenav-content-inner">
      <app-class-list></app-class-list>
    </div>
    <div *ngIf="render[4]" class="sidenav-content-inner">
      <app-teacher-list></app-teacher-list>
    </div>
  </div>

</mat-drawer-container>
