<h1 mat-dialog-title>{{gradeData.href ? 'Edit' : 'Add'}} grade</h1>
<div mat-dialog-content>
  <p>Provide information about the grade</p>
  <input type="hidden" name="href" [(ngModel)]="gradeData.href">
  <mat-form-field>
    <input matInput required placeholder="Description" [(ngModel)]="gradeData.description">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Grade value" [(ngModel)]="gradeData.value" required>
      <mat-option *ngFor="let grade of grades" [value]="grade">
        {{grade}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Lesson" [(ngModel)]="gradeData.lesson" required (selectionChange)="updateStudents($event)">
      <mat-option *ngFor="let lesson of lessons" [value]="lesson._links.self.href">
        {{lesson.displayValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Student" [(ngModel)]="gradeData.student" required>
      <mat-option *ngFor="let student of students" [value]="student._links.self.href">
        {{student.name + ' '  + student.surname}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Test type" [(ngModel)]="gradeData.test" required>
      <mat-option *ngFor="let test of tests" [value]="test._links.self.href">
        {{test.type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="error" class="error-msg">{{errorMsg}}</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button (click)="addTeacher()">Save</button>
</div>
